<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/71a6e6ac5054656ec8ae7be3/w/15da3de6b39094e09f55dc5d/e/b69991727d685d56a05e7c46 -->
<robot name="annin_ar4">
  <!-- Link base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <!-- Link ar4_mk4_motor_17ls13_0404e_200h_c1_1 -->
  <link name="ar4_mk4_motor_17ls13_0404e_200h_c1_1">
    <inertial>
      <origin xyz="0.343268 0.106529 0.436909" rpy="0 0 0"/>
      <mass value="0.841792"/>
      <inertia ixx="0.000863373" ixy="-0.000213802" ixz="6.8708e-05" iyy="0.00166959" iyz="6.23739e-05" izz="0.00132712"/>
    </inertial>
    <!-- Part ar4_mk4_motor_17ls13_0404e_200h_c1_1_parts -->
    <visual>
      <origin xyz="0.343268 0.106529 0.436909" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/ar4_mk4_motor_17ls13_0404e_200h_c1_1_visual.stl"/>
      </geometry>
      <material name="ar4_mk4_motor_17ls13_0404e_200h_c1_1_parts_material">
        <color rgba="0.92179 0.779841 0.611513 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.343268 0.106529 0.436909" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/ar4_mk4_motor_17ls13_0404e_200h_c1_1_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link simplified_part -->
  <link name="simplified_part">
    <inertial>
      <origin xyz="0.0021432 0.0016686 -0.083018" rpy="0 0 0"/>
      <mass value="0.712121"/>
      <inertia ixx="0.00204279" ixy="-0.000132291" ixz="-9.40639e-05" iyy="0.00224085" iyz="-5.32529e-05" izz="0.000725561"/>
    </inertial>
    <!-- Part simplified_part_parts -->
    <visual>
      <origin xyz="0.0021432 0.0016686 -0.083018" rpy="1.54416 -1.26557 -3.11618"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/simplified_part_visual.stl"/>
      </geometry>
      <material name="simplified_part_parts_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0021432 0.0016686 -0.083018" rpy="1.54416 -1.26557 -3.11618"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/simplified_part_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link ar4_mk4_14hs11_1004d_egs20_ar4_1 -->
  <link name="ar4_mk4_14hs11_1004d_egs20_ar4_1">
    <inertial>
      <origin xyz="-0.0143407 0.000592639 0.0474159" rpy="0 0 0"/>
      <mass value="0.314103"/>
      <inertia ixx="0.000122826" ixy="7.10219e-06" ixz="-1.85183e-05" iyy="0.000218752" iyz="5.64664e-07" izz="0.000172846"/>
    </inertial>
    <!-- Part ar4_mk4_14hs11_1004d_egs20_ar4_1_parts -->
    <visual>
      <origin xyz="-0.0143407 0.000592639 0.0474159" rpy="-2.01128 -0.280848 -3.02045"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/ar4_mk4_14hs11_1004d_egs20_ar4_1_visual.stl"/>
      </geometry>
      <material name="ar4_mk4_14hs11_1004d_egs20_ar4_1_parts_material">
        <color rgba="0.69002 0.773489 0.820789 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0143407 0.000592639 0.0474159" rpy="-2.01128 -0.280848 -3.02045"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/ar4_mk4_14hs11_1004d_egs20_ar4_1_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link simplified_part_2 -->
  <link name="simplified_part_2">
    <inertial>
      <origin xyz="6.26549e-06 0.000241513 -0.0230231" rpy="0 0 0"/>
      <mass value="0.115892"/>
      <inertia ixx="2.78554e-05" ixy="-7.6839e-08" ixz="-1.941e-09" iyy="4.28172e-05" iyz="-5.34906e-07" izz="3.11918e-05"/>
    </inertial>
    <!-- Part simplified_part_2_parts -->
    <visual>
      <origin xyz="6.26549e-06 0.000241513 -0.0230231" rpy="1.70201 -1.24035 -1.2921"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/simplified_part_2_visual.stl"/>
      </geometry>
      <material name="simplified_part_2_parts_material">
        <color rgba="0.980392 0.713725 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="6.26549e-06 0.000241513 -0.0230231" rpy="1.70201 -1.24035 -1.2921"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/simplified_part_2_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from ar4_mk4_14hs11_1004d_egs20_ar4_1 to simplified_part_2 -->
  <joint name="endeffector" type="revolute">
    <origin xyz="0.0189709 -0.00105071 0.0433" rpy="-1.5708 -0.825386 1.51547"/>
    <parent link="ar4_mk4_14hs11_1004d_egs20_ar4_1"/>
    <child link="simplified_part_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from simplified_part to ar4_mk4_14hs11_1004d_egs20_ar4_1 -->
  <joint name="endeffector_mount" type="revolute">
    <origin xyz="0.040138 0.0180261 -0.172" rpy="2.71949 1.5708 0"/>
    <parent link="simplified_part"/>
    <child link="ar4_mk4_14hs11_1004d_egs20_ar4_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-2.03907" upper="2.14972"/>
  </joint>
  <!-- Joint from ar4_mk4_motor_17ls13_0404e_200h_c1_1 to simplified_part -->
  <joint name="link3_to_end_effector_mount" type="revolute">
    <origin xyz="0.285858 0.0835761 0.420099" rpy="1.56279 -1.78e-10 1.87592"/>
    <parent link="ar4_mk4_motor_17ls13_0404e_200h_c1_1"/>
    <child link="simplified_part"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Link link_2 -->
  <link name="link_2">
    <inertial>
      <origin xyz="-0.00116151 -0.172068 -0.00928037" rpy="0 0 0"/>
      <mass value="0.825114"/>
      <inertia ixx="0.00889311" ixy="7.73405e-05" ixz="-3.25413e-05" iyy="0.00144092" iyz="0.00126456" izz="0.00802357"/>
    </inertial>
    <!-- Part link_2_parts -->
    <visual>
      <origin xyz="-0.00116151 -0.172068 -0.00928037" rpy="-1.5708 -0.305123 0.763446"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/link_2_visual.stl"/>
      </geometry>
      <material name="link_2_parts_material">
        <color rgba="0.972549 0.529412 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00116151 -0.172068 -0.00928037" rpy="-1.5708 -0.305123 0.763446"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/link_2_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link ar4_mk4_j1_turret_housing_1 -->
  <link name="ar4_mk4_j1_turret_housing_1">
    <inertial>
      <origin xyz="0.0107434 0.0376603 -0.0756086" rpy="0 0 0"/>
      <mass value="2.54248"/>
      <inertia ixx="0.0127241" ixy="-0.00100064" ixz="-0.000824716" iyy="0.00767836" iyz="-0.00274427" izz="0.00790626"/>
    </inertial>
    <!-- Part ar4_mk4_j1_turret_housing_1_parts -->
    <visual>
      <origin xyz="0.0107434 0.0376603 -0.0756086" rpy="1.5708 0.305123 -0.763446"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/ar4_mk4_j1_turret_housing_1_visual.stl"/>
      </geometry>
      <material name="ar4_mk4_j1_turret_housing_1_parts_material">
        <color rgba="0.65704 0.826265 0.927801 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0107434 0.0376603 -0.0756086" rpy="1.5708 0.305123 -0.763446"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/ar4_mk4_j1_turret_housing_1_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link baseplate -->
  <link name="baseplate">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <!-- Part baseplate_parts -->
    <visual>
      <origin xyz="-0.171073 0.000447583 0.0212228" rpy="-0 -5.93e-10 -0"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/baseplate_visual.stl"/>
      </geometry>
      <material name="baseplate_parts_material">
        <color rgba="0.600346 0.770857 0.873164 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.171073 0.000447583 0.0212228" rpy="-0 -5.93e-10 -0"/>
      <geometry>
        <mesh filename="package://annin_ar4_description/meshes/merged/baseplate_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from ar4_mk4_j1_turret_housing_1 to baseplate -->
  <joint name="base_to_link1" type="revolute">
    <origin xyz="0.052582 0.147717 -0.05045" rpy="1.5708 0.305123 -0.763446"/>
    <parent link="ar4_mk4_j1_turret_housing_1"/>
    <child link="baseplate"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from link_2 to ar4_mk4_j1_turret_housing_1 -->
  <joint name="link1_to_link2" type="revolute">
    <origin xyz="-0 -0.305 -0.015" rpy="-3.14159 -0 0"/>
    <parent link="link_2"/>
    <child link="ar4_mk4_j1_turret_housing_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from ar4_mk4_motor_17ls13_0404e_200h_c1_1 to link_2 -->
  <joint name="link2_to_link3" type="revolute">
    <origin xyz="0.323281 0.133316 0.420505" rpy="1.5708 0.763446 0.305123"/>
    <parent link="ar4_mk4_motor_17ls13_0404e_200h_c1_1"/>
    <child link="link_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from base_link to ar4_mk4_motor_17ls13_0404e_200h_c1_1 -->
  <joint name="base_link_to_ar4_mk4_motor_17ls13_0404e_200h_c1_1" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <parent link="base_link"/>
    <child link="ar4_mk4_motor_17ls13_0404e_200h_c1_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
</robot>
